<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @indicator_category.name %>
</p>


<%= link_to 'Edit', edit_indicator_category_path(@indicator_category) %> |
<%= link_to 'Back', indicator_categories_path %>
