
<form action="<%= add_comment_path(:type => commentable_type, :commentable_id => commentable_id) %>" method="post">


  <input type="hidden" name="type" value="<%= commentable_type %>" />
  <textarea class="span5" name="comment" style="margin-top: 5px; resize: vertical;"></textarea>
  <br />
  <input type="submit" value="Add Comment" />



</form>





