<% title t('.title', :economic_category => @economic_category.name) %>

<% if @statements.nil? || @statements.empty? %>
	<p>
		<%= t('.no_statements', :economic_category => @economic_category.name) %>
	</p>
<% else %>
	<%= render :partial => "statements/statement_list",
			:locals => {:statements => @statements, :type => Statement::TYPE[1], :type_id => @economic_category.permalink}%>
<% end %>

<% if user_signed_in? && can?(:manage, Statement) %>
<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_statement_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>
<% end %>
