<% title t('.title') %>

<% if @statements.nil? || @statements.empty? %>
	<p>
		<%= t('.no_statements') %>
	</p>
<% else %>
	<%= render :partial => "statements/statement_list",
			:locals => {:statements => @statements, :type => nil}%>
<% end %>

<% if user_signed_in? && can?(:manage, Statement) %>
<div class="form-actions">
<%= link_to t('app.buttons.new'),
            new_statement_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>
<% end %>
