<% if @page.nil? %>
	<% title t('.title') %>
<% else %>
	<% title @page.title %>

<div class="row">
	<div class="span12 clear">
	  <div class="block clear">
		  <div class="block_header font clear">
		  </div>

      <div class="block_body" id="content_container">
	      <%= simple_format_no_tags @page.description, {}, :sanitize => false %>

      </div>

    </div>
	</div>
</div>

<% end %>
