<% title t('.title') %>

<% if @values && !@values.empty? %>
  <% @values.each_with_index do |value, i| %>
    <% if i%2 == 0 %>
      <div class="row">
    <% end %>

      <div class="span5">
        <h3><%= value[:name] %></h3>
        <div id="<%= "#{value[:div_id]}"%>"></div>
      </div>

    <% if i%2 == 1 || i==@values.length-1%>
      </div>
    <% end %>
  <% end %>
  
  <% %>
<% end %>