<% title t('.title') %>

<script>

  (function() {
    var cx = '003724594621929416656:twffp08h7pk';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();

</script>

<div class="row">
	<div class="span12 clear sidespan">
	  <div class="block clear">

      <div class="block_body" id="content_container">

        <gcse:search></gcse:search>

      </div>

    </div>
	</div>
</div>        
