/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require formtastic
 *= require formtastic-bootstrap
 *= require vendor
 *= require_tree .
 *= require_self
*/

/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear             		{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */

/*
@font-face {
  font-family: bpg_phone_sans;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/bpg_phone_sans.ttf);
}

@font-face {
  font-family: bpg_phone_sans_mtavruli;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/BPG_Sans_Regular_Mtavruli.ttf);
}
*/

@font-face {
  font-family: fightme;
  font-style: normal;
  font-weight: 400;
  src: url(http://localhost/gyla/style/bpg_mrgvlovani_caps_2010.ttf);
}

.font, .font * { font-family: fightme; }


/* make bootstrap button link color stay white */
a.btn, a.btn:visited {
	color: #000 !important;
}
a.btn-primary, a.btn-primary:visited, a.btn-info, a.btn-info:visited, a.btn-success, a.btn-success:visited,
a.btn-warning, a.btn-warning:visited, a.btn-danger, a.btn-danger:visited, a.btn-inverse, a.btn-inverse:visited {
	color: #fff !important;
}

/* general */
a, a:link, a:hover, a:visited, a:active
{
  color: #555;
  background-color: transparent;
}
.content a {
  text-decoration: underline;
}
a:hover {
  color: #348BE8;
  background-color: none;
  text-decoration: underline;
}
a.brand:hover{
  background-color: transparent;
}

h1, h2, h3 {
   font-family: Arial;
   color: #555;
  font-weight: bold;
}
h1 {
   font-size: 18pt;
}
h1 small {
   color: inherit;
   font-size: 16pt;
	display: block;
	padding-top: 0.3em;
	margin-left: 1em;
}

h2 {
   font-size: 16pt;
	margin-bottom: 0.5em;
}

h3 {
  font-size: 12pt;
}

.page-header h1 {
  color: #348be8;
}
strong {
	font-weight: bold;
}

p {
margin: 0.5em 0;
}

hr {
	color: #ccc !important;
	background-color: #ccc !important;
	height: 2px;
}

ul.standard, ol.standard, ul.standard ul, ol.standard ol,
ul.standard ol, ol.standard ul {
	padding-left: 2em;
}

ul.standard li {
	list-style-type:disc;
	line-height: 1.1;
}
ol.standard li {
	list-style-type:decimal;
	line-height: 1.1;
}

/* multilanguage form styles */
div#form-en {
	background-color:#ddd;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

div#form-ka {
	background-color:#999;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

/* admin page */
div.admin_panel ul li {
	padding-bottom: 0.5em;
  list-style:disc;
  margin-left: 1em;
}

/* error message styling */
.errorExplanation
{
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    background: #F2DEDE;
    color: #B94A48;
    border: 1px solid #EED3D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.errorExplanation h2
{
    color: #B94A48 !important;
}

.errorExplanation a
{
    color: #B94A48;
}


/* nested form styles */
#nested_form_container {
	margin: 0.5em 0;
  padding: 1em;
  background-color: #ddd;
}

#nested_form_container h3 {

}

#nested_form_container .nested_form_item {
  background-color: #eee;
  padding: 0.5em 1em;
}

/* party profile page */
#plat_brief_nav {
	margin-bottom: 2em;
}

#plat_brief_nav > div {
	display: inline-block;
}

/* wells */
.well {
  background: url(/assets/block-bg.jpg) repeat;
  padding: 17px 20px 20px 18px;
}
.well h3 {
  font-family: fightme;
  color: #f3543f;
  margin-bottom: 8px;
	font-weight: bold;
	font-size: 18px;
}
.well h4 {
  font-family: fightme;
  color: #f3543f;
  margin-top: 8px;
  margin-bottom: 4px;
	font-weight: bold;
	font-size: 16px;
}
#well_legend > h3 {
  padding-left: 20px;
  background: url(/assets/legend-icon.jpg) center left no-repeat;
}

.well a {
	font-size: 12px;
	display: block;
}

/* statemetn record */
.statement_summary {
	padding: 1em 0 0.5em 0;
	border-bottom: solid 1px #ddd;
}

/* indicator score headers in forms */
.radio_button_scores .control-label {
	font-weight: bold;
}

/* social links */
#social_links ul {
	margin-top: -10px;
	margin-bottom: 0;
}
#social_links ul li a {
	padding-top: 4px;
	padding-bottom: 4px;
}

/* home page styles */
#title_dropdowns {
	margin-top: -45px;
	margin-bottom: 2em;
}
#title_dropdowns h1#en {
  font-size: 36pt;
  color: #348be8;
	margin-left: 4em;
}
#title_dropdowns h1#en span#line3 {
	display: inline-block;
	margin-left: 3em;
}
#title_dropdowns h1#en span#big_red_block {
	display: inline-block;
  font-size: 40pt;
  color: #D73421;
	text-transform:uppercase;
	line-height: 60px;
	margin-top: 10px;
	margin-bottom: -10px;
	margin-left: 1.5em;
	letter-spacing: 0.15em;
}
#title_dropdowns h1#en span#big_red_inline {
	display: inline-block;
  font-size: 40pt;
  color: #D73421;
}

#title_dropdowns h1#ka {
  font-size: 36pt;
  color: #348be8;
	margin-left: 4em;
}
#title_dropdowns h1#ka span#line2 {
	display: inline-block;
	margin-left: 1em;
	line-height: 90px;
	margin-top: -5px;
	margin-bottom: -10px;
}
#title_dropdowns h1#ka span#big_red_block {
	display: inline-block;
  font-size: 40pt;
  color: #D73421;
	text-transform:uppercase;
	line-height: 90px;
	margin-top: -15px;
	margin-left: 2em;
	letter-spacing: 0.15em;
	margin-bottom: -15px;
}

#title_dropdowns #nav_buttons {
	margin-top: 30px;
	text-align: center;
}
#title_dropdowns #nav_buttons > div {
	display: inline-block;
	text-align: left;
}

#charts {
  background-color: #e9e9e9;
	padding: 1em;
}
#charts #legend/*, #political_party_scales, #indicator_scales*/ {
  cursor: pointer;
  margin-bottom: 0px;
  background-color: #fff;
  padding: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#charts #legend > h3 {
  color: #555;
  font-size: 13px;
  padding-left: 20px;
  background: url(/assets/legend-icon.jpg) center left no-repeat;
}
#charts #legend_content{
  margin: 0.5em 0;
  display: none;
}

#charts .chart_row {
  padding: 10px 25px;
}

/* footer */
footer {
	margin-top: -54px; /* negative value of footer height */
	min-height: 41px !important;
	background: #D4D4D4 !important;
	padding: 0 70px;
	padding-top: 13px;
}

footer div#left {
	margin: 0 !important;
	float: left;
	width: 30%;
	margin-top: 20px;
}
footer a:hover {
	background-color: #D4D4D4;
}

footer #middle {
   margin: 0;
	font-size: 12px;
	width: 38%;
	text-align: center;
	float: left;
}
footer #middle ul {
/*	margin-top: 20px;*/
}

footer #middle ul li {
	display: inline;
	font-family: Arial;
}
footer #middle ul li.spacer {
  display: inline;
}
footer #middle ul li a {
	padding: 0 10px;
}

footer div#right {
	margin: 0 !important;
	float: right;
	width: 30%;
	text-align: right;
}
/*
footer div#right ul {

	margin-top: 13px !important;
}

footer div#right ul li {
	display: inline;
	font-family: Arial;
	font-size: 10pt;
}

footer div#right ul li#left {
	text-align: right;
}
footer div#right ul li#right {
	text-align: left;
}
footer div#right ul li#right img {
	vertical-align: middle;
}

*/
/* styles for printing */
@media print {
	/* make the content block the entire width since the menu is not visible */
	#container
	{
		top: 0;
		margin: 0;
		padding: 10px;
		width: 100%;
	}

	h1.brand  {
		font-size: 20pt;
	}

	.form-actions {
		display:none;
	}

	#current_url {
		margin-top: 5em;
	}
}




body {
  background: url(/assets/body-bg.jpg) repeat;
  color: #555;
}

footer, footer ul li, footer div#right ul li {
  color: #4f4f4f;
}

footer #left {
  padding-top: 3px;
}


/* party index  chart */
#profile_statement_chart {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 10px 0;
}
#profile_statement_chart #chart_selections,
#profile_statement_chart #chart_selections select,
#profile_statement_chart #chart_selections input  {
  font-size: 11px !important;
  height: 25px;
  margin-bottom: 0;
}
#profile_statement_chart #chart_selections{
	margin-bottom: 10px;
}

#profile_statement_chart #chart_selections select{
  width: 100px;
}

#profile_statement_chart #statement_chart{
  height: 240px;
}
#profile_statement_chart #statement_chart path {
  stroke: #348be8;
  stroke-width: 2;
  fill: none;
}
#profile_statement_chart #statement_chart line {
  stroke: black;
}

#profile_statement_chart #statement_chart text {
  font-family: Arial;
  font-size: 9pt;
}
